<h1>Hi there!</h1>

<p><%= Time.now %></p>

<ul>
  <%- @videos.each do |video| %>
    <li><%= video.title %> | <%= link_to("Edit", edit_video_path(video)) %> | <%= button_to("Delete", video, :method => :delete, :confirm => "are you sure?!")%></li>
  <% end %>
</ul>

<p><%= link_to "Submit a video", new_video_path %></p>